In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
%matplotlib inline

In [2]:
data = pd.read_excel(r'C:/Users/WELCOME/Desktop/simplilearn/data.xlsx')
data.head(2)

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,Average Cost for two,Currency,Has Table booking,Has Online delivery,Price range,Aggregate rating,Rating color,Rating text,Votes
0,7402935,Skye,94,Jakarta,"Menara BCA, Lantai 56, Jl. MH. Thamrin, Thamri...","Grand Indonesia Mall, Thamrin","Grand Indonesia Mall, Thamrin, Jakarta",106.821999,-6.196778,"Italian, Continental",800000,Indonesian Rupiah(IDR),No,No,3,4.1,Green,Very Good,1498
1,7410290,Satoo - Hotel Shangri-La,94,Jakarta,"Hotel Shangri-La, Jl. Jend. Sudirman","Hotel Shangri-La, Sudirman","Hotel Shangri-La, Sudirman, Jakarta",106.818961,-6.203292,"Asian, Indonesian, Western",800000,Indonesian Rupiah(IDR),No,No,3,4.6,Dark Green,Excellent,873

In [3]:
data.isna().sum(axis = 0)

Restaurant ID           0
Restaurant Name         1
Country Code            0
City                    0
Address                 0
Locality                0
Locality Verbose        0
Longitude               0
Latitude                0
Cuisines                9
Average Cost for two    0
Currency                0
Has Table booking       0
Has Online delivery     0
Price range             0
Aggregate rating        0
Rating color            0
Rating text             0
Votes                   0
dtype: int64

In [4]:
data.dtypes

Restaurant ID             int64
Restaurant Name          object
Country Code              int64
City                     object
Address                  object
Locality                 object
Locality Verbose         object
Longitude               float64
Latitude                float64
Cuisines                 object
Average Cost for two      int64
Currency                 object
Has Table booking        object
Has Online delivery      object
Price range               int64
Aggregate rating        float64
Rating color             object
Rating text              object
Votes                     int64
dtype: object

In [5]:
data.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
9546    False
9547    False
9548    False
9549    False
9550    False
Length: 9551, dtype: bool

In [6]:
data.columns = data.columns.str.replace(' ', '_')
data.head(2)

,Restaurant_ID,Restaurant_Name,Country_Code,City,Address,Locality,Locality_Verbose,Longitude,Latitude,Cuisines,Average_Cost_for_two,Currency,Has_Table_booking,Has_Online_delivery,Price_range,Aggregate_rating,Rating_color,Rating_text,Votes
0,7402935,Skye,94,Jakarta,"Menara BCA, Lantai 56, Jl. MH. Thamrin, Thamri...","Grand Indonesia Mall, Thamrin","Grand Indonesia Mall, Thamrin, Jakarta",106.821999,-6.196778,"Italian, Continental",800000,Indonesian Rupiah(IDR),No,No,3,4.1,Green,Very Good,1498
1,7410290,Satoo - Hotel Shangri-La,94,Jakarta,"Hotel Shangri-La, Jl. Jend. Sudirman","Hotel Shangri-La, Sudirman","Hotel Shangri-La, Sudirman, Jakarta",106.818961,-6.203292,"Asian, Indonesian, Western",800000,Indonesian Rupiah(IDR),No,No,3,4.6,Dark Green,Excellent,873

In [7]:
data1 = data.copy()
data1.head(2)

,Restaurant_ID,Restaurant_Name,Country_Code,City,Address,Locality,Locality_Verbose,Longitude,Latitude,Cuisines,Average_Cost_for_two,Currency,Has_Table_booking,Has_Online_delivery,Price_range,Aggregate_rating,Rating_color,Rating_text,Votes
0,7402935,Skye,94,Jakarta,"Menara BCA, Lantai 56, Jl. MH. Thamrin, Thamri...","Grand Indonesia Mall, Thamrin","Grand Indonesia Mall, Thamrin, Jakarta",106.821999,-6.196778,"Italian, Continental",800000,Indonesian Rupiah(IDR),No,No,3,4.1,Green,Very Good,1498
1,7410290,Satoo - Hotel Shangri-La,94,Jakarta,"Hotel Shangri-La, Jl. Jend. Sudirman","Hotel Shangri-La, Sudirman","Hotel Shangri-La, Sudirman, Jakarta",106.818961,-6.203292,"Asian, Indonesian, Western",800000,Indonesian Rupiah(IDR),No,No,3,4.6,Dark Green,Excellent,873

In [8]:
data.dtypes

Restaurant_ID             int64
Restaurant_Name          object
Country_Code              int64
City                     object
Address                  object
Locality                 object
Locality_Verbose         object
Longitude               float64
Latitude                float64
Cuisines                 object
Average_Cost_for_two      int64
Currency                 object
Has_Table_booking        object
Has_Online_delivery      object
Price_range               int64
Aggregate_rating        float64
Rating_color             object
Rating_text              object
Votes                     int64
dtype: object

In [9]:
data1['Has_Table_booking'] = pd.to_numeric(data1['Has_Table_booking'],errors='coerce')

In [10]:
data1.dtypes

Restaurant_ID             int64
Restaurant_Name          object
Country_Code              int64
City                     object
Address                  object
Locality                 object
Locality_Verbose         object
Longitude               float64
Latitude                float64
Cuisines                 object
Average_Cost_for_two      int64
Currency                 object
Has_Table_booking       float64
Has_Online_delivery      object
Price_range               int64
Aggregate_rating        float64
Rating_color             object
Rating_text              object
Votes                     int64
dtype: object

In [27]:
data.groupby(['Has_Table_booking'])['Restaurant_ID'].count().apply(lambda x:100 * x / float(8393+1158))

Has_Table_booking
No     87.875615
Yes    12.124385
Name: Restaurant_ID, dtype: float64

In [20]:
online_del = data.groupby(['Has_Online_delivery'])['Restaurant_ID'].count()
online_del

Has_Online_delivery
No     7100
Yes    2451
Name: Restaurant_ID, dtype: int64

In [26]:
Onl_del_cent = online_del.apply(lambda x:100 * x / float(7100+2451))
Onl_del_cent

Has_Online_delivery
No     74.337766
Yes    25.662234
Name: Restaurant_ID, dtype: float64

In [43]:
No_votes = (data[data['Has_Online_delivery'] == 'No'].sum()['Votes']) - (data[data['Has_Online_delivery'] == 'Yes'].sum()['Votes'])
No_votes

462817

In [51]:
data.groupby(['Cuisines'])['Cuisines'].count().sort_values(ascending = False).head(10)

Cuisines
North Indian                      936
North Indian, Chinese             511
Fast Food                         354
Chinese                           354
North Indian, Mughlai             334
Cafe                              299
Bakery                            218
North Indian, Mughlai, Chinese    197
Bakery, Desserts                  170
Street Food                       149
Name: Cuisines, dtype: int64

In [56]:
data.groupby(['Restaurant_Name'])['Cuisines'].count().sort_values(ascending = False).head(1)

Restaurant_Name
Cafe Coffee Day    83
Name: Cuisines, dtype: int64

In [58]:
data.groupby(['Restaurant_Name'])['Cuisines'].count().sort_values(ascending = True).head(10)

Restaurant_Name
Corkscrew Cafe                          0
Leonard's Bakery                        0
Hillstone                               0
Pearly's Famous Country Cookng          0
Cookie Shoppe                           0
Tybee Island Social Club                0
Jimmie's Hot Dogs                       0
HI Lite Bar & Lounge                    0
Dovetail                                0
Parikrama - The Revolving Restaurant    1
Name: Cuisines, dtype: int64

In [61]:
data.groupby(['Aggregate_rating','Rating_color','Rating_text'])['Aggregate_rating'].max().sort_values(ascending = False).head(10)

Aggregate_rating  Rating_color  Rating_text
4.9               Dark Green    Excellent      4.9
4.8               Dark Green    Excellent      4.8
4.7               Dark Green    Excellent      4.7
4.6               Dark Green    Excellent      4.6
4.5               Dark Green    Excellent      4.5
4.4               Green         Very Good      4.4
4.3               Green         Very Good      4.3
4.2               Green         Very Good      4.2
4.1               Green         Very Good      4.1
4.0               Green         Very Good      4.0
Name: Aggregate_rating, dtype: float64